.fs-free-trial-row.et_pb_row.et_pb_row_fullwidth {
  max-width: 100% !important;
  width: 100% !important;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (min-width: 981px) {
    max-width: 100% !important;
    width: 100% !important;
  }

  h2 {
    font-family: $montserrat-light;
    font-size: 40px;
    line-height: 1em;
  }
  h3 {
    font-family: $montserrat-light;
  }

  a.fs-cerberus-cta {
    background-color: $teal;
    border: none;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $montserrat;
    font-weight: 700;
    padding: 12px;
    transition: all 300ms;
    color: white !important;
    border-radius: 4px;
    &:hover {
      color: white;
      text-decoration: none;
      background-color: darken($teal, 10%);
    }
  }
}
