.fs-product-hero {
  padding-top: 24px;
  padding-bottom: 44px;
  &:before {
    content: " ";
    display: block;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: -120px;
    left: 0px;
    background: $black;
  }

  h3 {
    font-family: $montserrat-light;
  }
}
